@keyframes sliderAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  color: black;
}

.main__wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, auto);
}

.header__section {
  grid-column: 3/11;
}

.welcome__section {
  grid-column: 3/11;
}

.hero__section {
  grid-column: 1/13;
}

.services__section {
  background-color: #0a233c;
  color: white;
  grid-column: 1/13;
}

.footer__section {
  grid-column: 3/11;
  text-align: center;
  padding: 20px 0;
}

.navbar__container {
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  margin: 0 auto;
}
.navbar__container > #nav-check {
  display: none;
}

.navbar__logo {
  align-items: center;
  text-transform: uppercase;
  transition: color 0.15s ease-in-out;
}
.navbar__logo:hover {
  cursor: pointer;
  color: cornflowerblue;
}

.navbar__list {
  list-style-type: none;
  display: flex;
  gap: 2rem;
  align-items: center;
  font-weight: bold;
}
.navbar__list a {
  text-decoration: none;
  cursor: pointer;
  color: black;
  transition: color 0.15s ease-in-out;
}
.navbar__list a:hover {
  color: cornflowerblue;
  cursor: pointer;
}

.photos__wrapper {
  display: flex;
  overflow: hidden;
}

.photos__container {
  display: flex;
  animation-name: sliderAnimation;
  animation-duration: 70s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.photos__container img {
  width: 800px;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}

.welcome__text {
  max-width: 960px;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  text-align: center;
  margin: 0 auto;
}

.services__wrapper {
  max-width: 1280px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 4rem 0;
  margin: 0 auto;
  text-align: center;
  text-wrap: pretty;
}

.service__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 1024px) {
  .main__wrapper {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, auto);
  }
  .header__section {
    grid-column: 2/8;
  }
  .welcome__section {
    grid-column: 2/8;
  }
  .footer__section {
    grid-column: 2/8;
  }
  .hero__section {
    grid-column: 1/9;
  }
  .services__section {
    grid-column: 1/9;
  }
  .services__wrapper {
    max-width: 960px;
    flex-wrap: wrap;
  }
  .service__info {
    max-width: 300px;
  }
}
@media (max-width: 768px) {
  .main__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .header__section {
    grid-column: 1/3;
    width: 100%;
  }
  .hero__section {
    grid-column: 1/3;
    width: 100%;
  }
  .welcome__section {
    grid-column: 1/3;
    width: 100%;
  }
  .services__section {
    grid-column: 1/3;
    width: 100%;
  }
  .footer__section {
    grid-column: 1/3;
    width: 100%;
  }
  .services__wrapper {
    max-width: 90%;
  }
  .welcome__text {
    max-width: 90%;
  }
  .navbar__container > .nav__btn {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 0.2rem;
  }
  .navbar__container > .nav__btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .navbar__container > .nav__btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid black;
  }
  .navbar__container > .navbar__list {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    background-color: white;
    height: 0;
    transition: all 0.3s ease-in;
    top: 39px;
    left: 0;
    overflow: hidden;
    z-index: 2;
  }
  .navbar__container > .navbar__list > li {
    width: 100%;
    margin-top: 1.5rem;
    text-align: center;
  }
  .navbar__container > #nav-check:checked ~ .navbar__list {
    height: calc(100vh - 30px);
  }
  .photos__container img {
    width: 400px;
    height: 300px;
  }
}/*# sourceMappingURL=style.css.map */